<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Acme' rel='stylesheet' type='text/css'>

    <title>Movie List</title>
</head>
<body>

    <ul class="nav">
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/new_user">Register</a></li>
        <li><a href="/user_list">View All Users</a></li>
        <li><a href="/movie_list">View All Movies</a></li>
    </ul>
    
    <h1>Movie List</h1>
        <ul>
            {%for movie in movie_list%}
            <li><a href="/movie?movie_id={{movie.id}}">{{movie.name}}</a></li>
            {% endfor %}
        </ul>
</body>
</html>