<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>{{movie.name}}</title>
</head>
<body>

    <ul class="nav">
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/new_user">Register</a></li>
        <li><a href="/user_list">View All Users</a></li>
        <li><a href="/movie_list">View All Movies</a></li>
    </ul>

    <h1>{{movie.name}}</h1>

    {% if beratement %}
    <h2>{{beratement}}</h2>
    {% endif %}

    {% if prediction %}
    <h3>We predict you will rate this movie {{prediction}}.</h3>
    {% endif %}
    

    <ul>
        <li>Your Rating: {{user_rating}}</li>
        <li>Average Rating: {{average}}</li>
        <li>Release Date: {{movie.released_at}}</li>
        <li>IMDB URL: {{movie.imdb_url}}</li>
    </ul>

    <form action="/update_rating" method="POST">
        <h2>Update Rating</h2>
        <input type="text" placeholder="Rating" name="rating">
        <input type="hidden" name="movie_id" value="{{movie.id}}">
        <input type="submit" value="Update">
    </form>

</body>
</html>