<html>
<head>
	<title>New User</title>
</head>
<body>

    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/new_user">Register</a></li>
        <li><a href="/user_list">View All Users</a></li>
        <li><a href="/movie_list">View All Movies</a></li>
    </ul>

	<h2>{{error}}</h2>
	<form action="/new_user" method="POST">
		<input type="text" placeholder="Email" name="email" required="required">
		<input type="password" placeholder="Password" name="password" required="required">
		<input type="text" placeholder="Age" name="age">
		<input type="text" placeholder="Zipcode" name="zipcode">
		<input type="submit" value="Submit">
	</form>
</body>
</html>