<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Acme' rel='stylesheet' type='text/css'>

    <title>User List</title>
</head>

<body>

    <ul class="nav">
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/new_user">Register</a></li>
        <li><a href="/user_list">View All Users</a></li>
        <li><a href="/movie_list">View All Movies</a></li>
    </ul>

    <h1>User List</h1>

    <ul>
    {% for user in users %}
        <li><a href="/user_profile?id={{user.id}}">User {{user.id}}</a></li>
    {% endfor %}
    </ul>

</body>
</html>