<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

	<title>User Profile: {{user.id}}</title>
</head>
<body>

	<ul class="nav">
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/new_user">Register</a></li>
        <li><a href="/user_list">View All Users</a></li>
        <li><a href="/movie_list">View All Movies</a></li>
    </ul>
	
	<h1>User Profile</h1>
	
	<h2>User Info</h2>
	<ul>
		<li>ID: {{user.id}}</li>
		<li>Email: {{user.email}}</li>
		<li>Age: {{user.age}}</li>
		<li>Zipcode: {{user.zipcode}}</li>
	</ul>

	<h2>Ratings</h2>

	{% for rating in user.ratings %}
		<h3><a href="/movie?movie_id={{rating.movie.id}}">{{rating.movie.name}}</a></h3>
		<ul>
			<li>Rating: {{rating.rating}}</li>
			<li>Release Date: {{rating.movie.released_at}} </li>
			<li>IMDB URL: <a href="{{rating.movie.imdb_url}}">{{rating.movie.imdb_url}}</a></li>
		</ul>
	{% endfor %}

</body>
</html>